{% extends 'base.html' %}
{% block title %}Nové heslo{% endblock %}
{% block content %}
<section class="container py-5"><div class="auth-card mx-auto">
<h1 class="h2 mb-4">Nastavení nového hesla</h1>
<form method="post" class="row g-3">
<div class="col-12"><label class="form-label">Nové heslo</label><input class="form-control" type="password" name="password" required></div>
<div class="col-12"><label class="form-label">Potvrzení hesla</label><input class="form-control" type="password" name="password2" required></div>
<div class="col-12"><button class="btn btn-dark w-100 rounded-pill">Uložit nové heslo</button></div>
</form></div></section>
{% endblock %}
